<h1>Contact RYE</h1>

<%= link_to "Index", nav_index_path %>
<%= link_to "About", nav_about_path %>
<%= link_to "Contact", nav_contact_path %>
<%= stylesheet_link_tag "application" %>

<p>Find me in app/views/nav/contact.html.erb</p>
