<h1>Welcome to Respect Your Elders!</h1>


<%= stylesheet_link_tag "application" %>
<p>Find me in app/views/nav/index.html.erb</p>
<p>Linking this stylesheet took too long and too much time.  All you have to do is remove the //remove tree</p>
<%= image_tag "964rs.jpg", :class => "porsche964_style" %>

<% if @active != 0 %>
  <% form_tag :controller => promotions, :action => 'promo' do %>
  <p>
  <%= image_tag @promoImg %>
  </p>
  <% end %>
<% else %>
<% end %>