body{
    /* persistent page background. */
    background-color: #80b2d3;
}
h1{
    /* Page Title */
    text-align: center;
}
.porsche964_style{
    /*this image is seen on the front page of the website. */
    height : 40%;
    width : 40%;
}
