<!DOCTYPE html>
<html>
  <head>
    <title>Respect your Elders</title>
    <%= image_tag 'RespectYourElders.png', :class => "RYE" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
